sysbuild
*.sdf
*.suo
*.sln
*.opensdf
log.txt
externals
extensions
support
build
*.o
*.dylib
tmp
.DS_Store

package-info.json


# User Data Files
*.db3
xcuserdata
project.xcworkspace
.vs
intermediate
*.vcxproj.user
misc/max-test-config.json
.dsp_cache
