# Compiled Object files
*.slo
*.lo
*.o
*.obj
build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
extensions

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User Data Files
*.db3
xcuserdata
project.xcworkspace
.vs
intermediate
*.vcxproj.user

*.sdf
*.suo
misc/max-test-config.json

.dsp_cache
.DS_Store
